@font-face {
  font-family: 'OCR-A';
  src: url('../fonts/OCRA.woff2') format('woff2');
}

.navbar-brand {
  font-family: 'OCR-A', monospace;
  padding: 0.55em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.icon.icon-home,
.wy-breadcrumbs,
#navbar-main-elements a.nav-link.reference {
  font-family: 'OCR-A', monospace;
  text-transform: uppercase;
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

iframe {
  height: 95vh;
  border: 0;
}

p {
  max-width: 48em;
}

@media (min-width: 1200px) {
  .container,
  .container-xl {
    max-width: 100%;
  }
  .col-xl-7 {
    max-width: inherit;
    flex: 1;
  }
}

#navbar-start {
  font-family: var(--pst-font-family-heading);
  font-size: 1.6em;
}

@media (min-width: 960px) {
  #navbar-center {
    display: flex;
    align-items: baseline;
  }
}

.bd-toc {
  display: none !important;
}

.onthispage {
  display: none;
}

.highlight,
.highlight pre {
  background-color: #000;
  color: #fff;
}
