:root {
  --pst-color-navbar-link: var(--pst-color-inline-code);
  --pst-font-family-heading: 'OCR-A', var(--pst-font-family-monospace-system);
}

html[data-theme='dark'] {
  --bs-border-color: rgba(255, 255, 255, 0.25);
  --pst-color-border: var(--bs-border-color);
}

@font-face {
  font-family: 'OCR-A';
  src: url('../fonts/OCRA.woff2') format('woff2');
}

.navbar-brand {
  font-family: var(--pst-font-family-heading);
  padding: 0.55em;
}

h1,
h2,
h3,
h4,
h5,
h6,
#navbar-main-elements a.nav-link.reference {
  text-transform: uppercase;
}

#navbar-main-elements a.nav-link.reference {
  font-family: var(--pst-font-family-heading);
}

h1 {
  font-size: 300%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

iframe {
  height: 95vh;
  border: 0;
}

p {
  max-width: 48em;
}

pre {
  border: 0;
  box-shadow: 0;
}

#navbar-start {
  font-family: var(--pst-font-family-heading);
  font-size: 1.6em;
}

@media (min-width: 960px) {
  #navbar-center {
    display: flex;
    align-items: baseline;
  }
}

.bd-toc {
  display: none !important;
}

.onthispage {
  display: none;
}

.admonition {
  box-shadow: 0;
}

div.cell div.cell_input {
  border-left-color: rgba(var(--pst-color-inline-code), 1);
}

/** theme overrides **/
.bd-content {
  flex-grow: 1;
  max-width: 100%;
}

.bd-main .bd-content .bd-article-container {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 960px) {
  .bd-page-width {
    max-width: unset;
  }
  .bd-sidebar-primary {
    max-width: 300px;
  }
}

html[data-theme='dark'] .bd-content div.cell_output .text_html,
html[data-theme='dark'] .bd-content div.cell_output img {
  background-color: transparent;
}
